<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h2>Enter your credentials to confirm</h2>
    <form action="/user/<%= user.id %>?_method=DELETE" method="post">
        <label for="email">Email :
            <input type="email" name="email" id="email" placeholder="Enter email">
        </label>
        <label for="password">Password :
            <input type="password" name="password" id="password" placeholder="Enter password">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>