<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user data</title>
</head>
<body>
    <h2>Edit username <%= user.username %></h2>
    <h3>username</h3>
    <form action="/user/<%= user.id %>?_method=PATCH" method="post">
        <textarea name="username"><%= user.username %></textarea><br>
        <input type="password" name="password" placeholder="Enter password"><br>
        <button>Edit</button>
    </form>
</body>
</html>