.container {
    width: 100%;
    height: 600px;
    background-color: blue;
    position: relative;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    bottom: 0;
    animation: x 10s linear infinite, y 1s ease-out infinite alternate;
    /* animation: y 1s ease-out infinite alternate; */
}

@keyframes x {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes y {
    from {
        bottom: 0;
    }
    to {
        bottom: 70%;
    }
}




/* @keyframes y {
    0% {
        transform: translate(0px, 0px);
    }

    25% {
        transform: translate(287px, -300px);
    }

    50% {
        transform: translate(575px, 0px);
    }

    75% {
        transform: translate(862px, -300px);
    }

    100% {
        transform: translate(1150px, 0px);
    }
} */


/* @keyframes y {
    0% {
        transform: translate(0px, 0px);
    }

    20% {
        transform: translate(150px, -550px);
    }

    40% {
        transform: translate(300px, 0px);
    }

    55% {
        transform: translate(450px, -350px);
    }

    70% {
        transform: translate(600px, 0px);
    }

    80% {
        transform: translate(680px, -225px);
    }

    90% {
        transform: translate(770px, 0px);
    }

    95% {
        transform: translate(850px, -175px);
    }

    100% {
        transform: translate(950px, 0px);
    }
} */