* {
    margin: 0;
    padding: 0;
}

.title_container {
    display: flex;
    width: 100vw;
    height: 97px;
    /* background-color: rgb(126, 96, 96); */
    justify-content: center;
}

.logo_container {
    display: flex;
    width: 1220px;
    height: 97px;
    justify-content: space-between;
    align-items: center;
}

.logo a img {
    width: 176px;
    height: 56px;
}

.nav_container {
    display: flex;
    align-items: center;
}

.nav_container a {
    width: 20px;
    height: 20px;
    background-color: black;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    padding: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 87vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_container {
    width: 960px;
    height: 67vh;
    /* display: flex; */
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: 400;
    padding: 0 0 10px;
}

.title {
    display: flex;
    justify-content: center;
    gap: 0 20px;
}

.title a {
    align-self: center;
}

.content p {
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.button_div {
    width: 960px;
    height: 48px;
    display: flex;
    justify-content: center;
}

button {
    width: 292px;
    height: 48px;
    background-color: #00B6D1;
    border-width: 0;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin: 17px;
    text-transform: uppercase;
}