div {
    width: 400px;
    height: 200px;
    background-color: lightblue;
    margin: 10px auto;
    color: white;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Leaves_-_Photo_by_Giovanni_Ussi_-_Foglie_22.jpg/220px-Leaves_-_Photo_by_Giovanni_Ussi_-_Foglie_22.jpg");

    background-size: cover;
    /* background-size = auto, contain, cover */
    
}