body {
    margin-left: 20px;
}

.chat {
    background-color: rgb(189, 219, 246);
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    display: inline-block;
}

.msg {
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}

.btn {
    display: flex;
}

.msg-btn {
    margin-right: 5px;
}